- title = 'Edit profile'
- page_title title

h1= title

= simple_form_for @user, url: freelancer_profile_path do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :location
  = f.input :description
  = f.button :submit, 'Save'
