.jumbotron.text-center
  .container
    h1.display-3 How it works
    p Post a job to tell us about your project. We'll quickly match you with the right freelancers.
.container
  .row
    .col-md-4
      h2 Hire
      p Browse profiles, reviews, and proposals then interview top candidates. Hire a favorite and begin your project.
    .col-md-4
      h2 Work
      p Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.
    .col-md-4
      h2 Pay
      p Invoicing and payments happen through Upwork. With Upwork Protection, only pay for work you authorize.
