doctype html
html
  head
    title
      = yield(:title) + ' | ' if content_for?(:title)
      | UpFree
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      .container
        = link_to 'UpFree', root_path, class: 'navbar-brand'
        button.navbar-toggler aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarsExampleDefault" data-toggle="collapse" type="button"
          span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link href="#" Jobs

          ul.navbar-nav
            - if user_signed_in?
              li.nav-item.dropdown
                a#dropdown-nav.nav-link.active.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"= current_user.email
                .dropdown-menu aria-labelledby="dropdown-nav"
                  h6.dropdown-header = current_user.role
                  .dropdown-divider
                  - if freelancer_signed_in?
                    = link_to 'Profile', edit_freelancer_profile_path, class: 'dropdown-item'
                    = link_to 'Edit password', edit_freelancer_registration_path, class: 'dropdown-item'
                  - else
                    = link_to 'Edit password', edit_customer_registration_path, class: 'dropdown-item'
                  .dropdown-divider
                  = link_to 'Logout', destroy_freelancer_session_path, method: :delete, class: 'dropdown-item'
            - else
              li.nav-item
                = link_to 'Log in', pages_login_path, class: 'nav-link active'
              li.nav-item
                = link_to 'Sign up', pages_sign_up_path, class: 'nav-link active'

    main role='main'
      .container
        - if notice
          p.alert.alert-success= notice
        - if alert
          p.alert.alert-danger= alert

        = yield

        hr
        footer.container
          p &copy UpFree 2018
